<div class="row">
  <div class="flex-hor-center">
    <ul class="pagination" id="pagination">
      <li class="page-item first"><a href="#" class="page-link">首页</a></li>
      <li class="page-item prev"><a href="#" class="page-link">&lt;前页</a></li>
      <li class="page-item active"><a href="#" class="page-link">1</a></li>
      <li class="page-item"><a href="#" class="page-link">2</a></li>
      <li class="page-item"><a href="#" class="page-link">3</a></li>
      <li class="page-item"><a href="#" class="page-link">4</a></li>
      <li class="page-item"><a href="#" class="page-link">5</a></li>
      <li class="page-item"><a href="#" class="page-link">6</a></li>
      <li class="page-item next"><a href="#" class="page-link">后页&gt;</a></li>
      <li class="page-item last"><a href="#" class="page-link">尾页</a></li>
    </ul>
  </div>
</div>