<div style="margin-top:20px;" class="row flex-vertical-center">
  <div class="col-md-6">
    <span class="sub-title">搜索 <span class="space highlight" id="keyword"><%= q || '' %></span>的结果</span>
  </div>
  <div class="col-md-3 col-md-offset-3">
    <span class="sub-title"> 共 <span class="space" id="total"><%= total || '' %></span> 条记录</span>
  </div>
</div>